:root {
    --lighten-percentage: 30%;

    --bg-color: rgb(230, 230, 230);
    --txt-color: rgb(36, 36, 36);

    --txt-light-color: lighter(var(--bg-color), var(--lighten-percentage));

    --rainbow-color: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );;
}

* {
    box-sizing:border-box;
}

nav {
    text-align: center;
}

body {
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;  ;
    background-image: url('/assets/img/wave-i.svg'), url('/assets/img/circle.svg');
    /* background-repeat: no-repeat, no-repeat;
    background-position: initial, right top; */
    filter: invert(100%), invert(100%);
}

a {
    text-decoration: none;
    color: var(--txt-color);
    cursor: default;
    padding-left: 4px;
}

a:visited, a:link, a:active {
    color: var(--txt-color);
}

/* a[active] {
    
} */

a:hover {
    color: brightness(110%);
    text-decoration: underline;
    
}

body > main {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.container {
    /* background-color: rgba(135, 149, 165, 0.493); */
    display: none;
    padding: 10px;
    border-radius: 10px;
}

.edit-effect {
    font-family: monospace;
}

.container > div {
    text-align: center;
}

#tecs {
    /* display: grid;
    grid-template-rows: auto auto auto auto; */
}

.active {
    display: block;
    width: 700px;
    text-align: center;
}

.inline-block {
    display: inline-block;
}

img {
    animation-name: none;
}

.img-sz-m {
    width: 150px;
    height: 150px;
}

.img-sz-s {
    width: 12%;
    height: 12%;
    min-height: 80px;
}

.img-sz-l {
    /* width: 270px; */
    width: 36%;
    /* height: 100px; */
    height: 16%;
    max-height: 55px;
    min-height: 40px;
}

.border-60 {
    border-radius: 60px;
}

.border-15 {
    border-radius: 15px;
}

.white {
    color: invert(#fff);
}

.center {
    text-align: center;
}

.invisible {
    display: none;
}

.invert {
    filter: invert(100%);
}

.progress-bar {
    display: inline-block;
    border: 1px solid black;
    height: 10px;
    width: 50%;
}

.progress-line {
    background: var(--rainbow-color);
    height: 8px;
}

.flex-childs > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-childs > div label {
    flex-basis: 15%;
    text-align: left;
}

.flex-childs > div label::after {
    content: "\00a0";
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column;
}

.hide {
    display: none;
}

.expand-animation {
    display: block;
    max-height: 0px;
    animation-name: expand;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

/* .logos-center {
    display: grid;
    grid-template-areas: "a b c d e"
                         " f g h"
                         "i j";
} */



@keyframes expand {
    from {
        max-height: 0px;
        max-width: 0px;
    }
    to {
        max-height: 500px;
        max-width: 900px;
    }
}

/* ANIMATIONS */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.fadepush {
    animation-name: fadepush;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadepush {
    from {
        width: 20ex;
        height: 20ex;
        opacity: 0;
    }

    to {
        width: -20ex;
        height: -20ex;
        opacity: 1;
    }
}

#start-title::after {
    content: '|';
    animation: fade 0.7s linear infinite alternate;
}

#mouse-shadow {
    box-shadow: var(--rainbow-color);
    width: 16px;
    height: 16px;
    position: absolute;
    display: inline-block;
}

@media screen and (min-width: 425px)
{
    .img-sz-l {
        max-height: 65px;
    }
}

@media screen and (min-width: 768px)
{
    .img-sz-l {
        max-height: 80px;
        min-height: 70px;
    }
}

/* @media screen and (min-width: 900px)
{
    #tecs-images br:nth-child(1n)
    {
        display: none;
    }
} */

/* @media screen and (max-width: 650px)
{
    .img-sz-s {
        width: 80px;
        height: 80px;
    }

    .img-sz-l {
        width: 150px;
        height: 80px;
    }

    @keyframes fadepush {
        from {
            width: 13ex;
            height: 13ex;
            opacity: 0;
        }
    
        to {
            width: -13ex;
            height: -13ex;
            opacity: 1;
        }
    }
} */