@font-face {
    font-family: Satoshi;
    src: url(/assets/fonts/satoshi-variable.ttf);
  }

:root {
    --lighten-percentage: 30%;

    --text-color-white: rgb(226, 226, 226);
    --txt-color: rgb(36, 36, 36);

    --txt-light-color: lighter(var(--bg-color), var(--lighten-percentage));

    --rainbow-color: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );

    --body-background-color: #383838;
}

* {
    box-sizing:border-box;
}

body {
    background-color: var(--body-background-color);
    font-family: Satoshi,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body > header {
    margin: 30px;
    background-color: var(--body-background-color);
}

nav {
    display: flex;
    flex-flow: row-reverse nowrap;
}

a {
    text-decoration: none;
    margin-left: 20px;
}

a:active, a:link, a:visited {
    text-decoration: none;
    color: var(--text-color-white);
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
}

h2 {
    color: white;
}

@media screen and (max-width: 425px)
{
    body > header {
        /* filter: brightness(85%); */
        margin: 0;
        padding: 20px;
    }

    nav {
        justify-content: center;
        gap: 20px;
    }

    a {
        margin: 0;
    }
}